* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(234deg,rgb(58, 0, 82), rgb(174, 0, 255));
    height: 100vh;
    width: 100%;
    font-size: 16px;
    font-family: 'PT Sans Narrow', sans-serif;
    overflow-x: hidden;
}

a{
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    margin: auto;
}

/*Customizando la barra*/

.nav-main {
    font-size: 17px;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    background: linear-gradient(rgb(3, 3, 3),rgb(70, 0, 136))
}

/*Contactos, inicio, etc*/

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 30px;
    justify-content: center;
}

.nav-titulo a{
    font-size: 40px;
}

.nav-titulo a:hover {
    color: yellow;
    transition: .5s;
}


/*Canales*/

.canales{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    margin-top: 90px;
}

.canales img{
    background: rgb(204, 204, 204);
    border-radius: 20%;
    margin: 4px;
    width: 120px;
    height: 95px;

}

.canales img:hover{
    background-color: rgba(255, 0, 234, 0.39);
    transform: scale(1.1);
    transition: .5s;
}